body {
    margin:3%;
    text-align: center;
  }

.logo{
  width: 32rem;
  height: 12rem;
  margin-left: auto;
  margin-right: auto;
}
.logo_name{
  font-size: 3rem;
}
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
}
.filterby {
  text-align: left;
  display: inline-block;
}
.submit-button {
  align-items: center;
}